################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day5/bin/Debug
/Day5/obj/Debug
/Day4/bin/Debug
/Day4/obj/Debug
/Day3/bin/Debug
/Day3/obj/Debug
/Day2/bin/Debug
/Day2/obj/Debug
/Day1/bin/Debug
/Day1/obj/Debug
/Day6/obj/Debug
/Day6/bin/Debug
/.vs/Tutorial/v14
/Day7/bin/Debug
/Day7/obj/Debug
*.bld
/Day11/obj/Debug
/Day10A/obj/Debug
/Day10/obj/Debug
/Day14/obj/Debug
/Day13A/obj/Debug
/Day13/obj/Debug
/Day12D/obj/Debug
/Day12C/obj/Debug
/Day12B/obj/Debug
/Day12A/obj/Debug
/Day12/obj/Debug
/Day11A/obj/Debug
/Day18/obj/Debug
/Day16D/obj/Debug
/Day16C/obj/Debug
/Day16B/obj/Debug
/Day16A/obj/Debug
/Day16/obj/Debug
/Day15A/obj/Debug
/Day15/obj/Debug
/Day14A/obj/Debug
/Day19/obj/Debug
/Day19/bin/Debug
/Day19A/obj/Debug
/Day19A/bin/Debug
/Day21/obj/Debug
/Day21/bin/Debug
/Day20B/obj/Debug
/Day20B/bin/Debug
/Day20A/obj/Debug
/Day20A/bin/Debug
/Day20/obj/Debug
/Day20/bin/Debug
/Day22/obj/Debug
/Day22/bin/Debug
/Day23/obj/Debug
/Day23/bin/Debug
/Day8/obj/Debug
/Day7C/obj/Debug
/Day7B/obj/Debug
/Day7A/obj/Debug
/Day9/obj/Debug
