################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day5/bin/Debug
/Day5/obj/Debug
/Day4/bin/Debug
/Day4/obj/Debug
/Day3/bin/Debug
/Day3/obj/Debug
/Day2/bin/Debug
/Day2/obj/Debug
/Day1/bin/Debug
/Day1/obj/Debug
